.aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  max-width: 450px;
  min-width: 350px;
  padding: 3rem 2rem 0;
}

.list {
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  overflow: hidden auto;
}

.item:not(:last-child) {
  margin-bottom: 3rem;
}
