.wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-width: 40px;
}

.label {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-color: var(--mine-shaft);
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.input:focus + .label {
  z-index: 1;
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--bg-button-white-focus);
}
