.wrapper {
  position: relative;
  margin: 1rem;
  overflow: auto;
  flex: 1 1 0%;
}

.box {
  display: flex;
  height: 100%;
}

.preview {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: auto;
}

.element {
  width: 1600px;
  height: 1200px;
  background-color: #f1dddd;
  margin: auto;
  transform: scale(0.25);
  transform-origin: left top;
}
