.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 1.5rem;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
}

.item:not(:last-child) {
  margin-right: 1rem;
}

.link {
  display: inline-block;
}

.linkIcon {
  font-size: 0;
}

.icon {
  width: 1.9rem;
  height: 1.9rem;
  stroke: var(--white-text);
  transition: stroke 0.3s;
}

@media (hover: hover) {
  .linkIcon:hover .icon {
    stroke: var(--blue-text);
  }
}
