.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 0 0;
}

.list {
  width: 100%;
  margin-bottom: 5px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.github {
  display: none;
}

@media (max-width: 992px) {
  .github {
    display: block;
  }
}
